{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "src": "./src",
          "config": "./src/config",
          "models": "./src/models",
          "utils": "./src/utils",
          "services": "./src/services",
          "middlewares": "./src/middlewares",
          "routes": "./src/routes",
          "queues": "./src/queues",
          "constants": "./src/constants"
        }
      }
    ]
  ]
}
